<div class="container">
  <% if current_user%>
    <%= button_to "Delete Post", "/discussions/#{@discussion.id}", method: :delete, :data => {:confirm => 'Are you sure?'} %>
    <%= button_to "Edit Post", "/discussions/#{@discussion.id}/edit", method: :get, :data => {:confirm => 'Are you sure?'} %>
  <% end %>

  <h1><%= @discussion.name %></h1>
  <p><%= raw(@discussion.post) %></p>

 <% @discussion.discussion_comments.each do |comment| %> 
  <a href="/users"><strong><%= comment.name%></strong></a>
      <p><%= comment.body%><p>
  <p class="created_at">Commented <%= time_ago_in_words(comment.created_at) %> ago</p><br>
  <%end%>
                     
    </ul><br>
<div class="container">
  <div class="row">
    <div class="col-md-6">     
        <%= form_for([@discussion, @discussion.discussion_comments.build]) do |f| %>
          <%= f.label :name %><br>
          <% if current_user %>
            <%= f.text_field :name, required: true, value:current_user.name%>
          <% else %>
            <%= f.text_field :name, required: true%>
          <% end %>
          <br>
          <%= f.label :body %><br>
          <%= f.text_area :body %><br>
          <br>
          <%= f.submit %>
        <% end %>
    </div>
  </div>
</div>
</div>
</div>
</div>