<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

<div class="homecontainer">

    <div id="tabs-home" class="row slider" style="background:url(https://www.scout.org/sites/default/files/styles/full_slider_1280x568/public/cta/12_5.jpg?itok=TtpPnWtn) no-repeat center fixed;">
        <div class="col-sm-3">
            <nav class="nav-sidebar">
                <ul style="background-color: rgba(0, 0, 0, 0.5);" class="nav tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab"><p>What Scouts Do</p><span>Main Activities</span></a></li>
                    <li class=""><a href="#tab2" data-toggle="tab"><p>Mission</p><span>We have a mission</span></a></li>
                    <li class=""><a href="#tab3" data-toggle="tab"><p>Vision</p><span>We have a bright vision</span></a></li>   
                    <li class=""><a href="#tab4" data-toggle="tab"><p>Scout Promise</p><span>I will always be a scout</span></a></li>  
                </ul>
            </nav>
        </div>
        <div id="wea" style="background-color: rgba(0, 0, 0, 0.7);" class="col-sm-9 tab-content">
        
            <div class="tab-pane active text-style fade in active" id="tab1">
                <h2 style="color: white;">Creating a Better World</h2>
                <p style="color: white;">As a Scout you can learn survival skills, first aid, computer programming, or even how to fly a plane. There’s something for every young person. It’s a great way to have fun, make friends, get outdoors, express your creativity and experience the wider world</p>
                <p style="color: white;"><strong>Toujour Pres a servir</strong></p>
            </div>
            
            <div class="tab-pane text-style fade" id="tab2">
                <h2 style="color: white;">Mission of Scouting</h2>
                <p style="color: white;">The Mission of Scouting is to contribute to the education of young people, through a value system based on the Scout Promise and Law, to help build a better world where people are self-fulfilled as individuals and play a constructive role in society.</p>
                <p style="color: white;"><strong>Every Day Ready to Serve</strong></p>                  
            </div>
            
            <div class="tab-pane text-style fade" id="tab3">
                <h2 style="color: white;">Creating a Better World</h2>
                <p style="color: white;">By 2023 Scouting will be the world’s leading educational youth movement, enabling 100 million young people to be active citizens creating positive change in their communities and in the world based on shared values.</p>
                <p style="color: white;"><strong>Forever Scout</strong></p>
                <a href="/pages/mission" style="color: white;">Mission % Vision</a>
            </div>
            
            <div class="tab-pane text-style fade" id="tab4">
                <h2 style="color: white;">The Scout Promise</h2>
                <p style="color: white;">On my honour I promise that I will do my best
                  To do my duty to God and the King (or to God and my Country)
                  To help other people at all times;
                  To obey the Scout Law. </p>
            </div> 
        </div>
        
    </div>    
</div>

<br>

<h1 style="text-align: center; color: white; background-color: purple;">Breaking News In Rwanda Scouts</h1>
<div class="row">

        <div class="col-sm-4">
        <div class="news">
          <div class="img-figure">
            <div class="cat">
            <% if @posts.any? %>
              <% if @posts.last.created_at > Time.now.beginning_of_day %>
                 <%="#{time_ago_in_words(@posts.last.created_at)} ago"%>  
              <% else %>
                <%= @posts.last.created_at.strftime("%b %d, %Y") %>
              <% end %>
            <% end %>
            </div>
            <img style="width: 500px; height: 300px;" src="<%=@posts.last.image%>"">
          </div>  

          <div class="title">
            <h1><%=@posts.last.title%></h1>
          </div>
          <p class="description"><%=@posts.last.introduction%></p>
          <p class="more">
            <a href="/posts/<%=@posts.last.id%>">read more</a><i class="fa fa-angle-right" aria-hidden="true"></i>
          </p>
          <br>
      </div>
      </div>

        <div class="col-sm-4">
        <div class="news">
          <div class="img-figure">
            <div class="cat">
              <% if @posts.all[-2].created_at > Time.now.beginning_of_day %>
                 <%="#{time_ago_in_words(@posts.last.created_at)} ago"%>  
              <% else %>
                <%= @posts.all[-2].created_at.strftime("%b %d, %Y") %>
              <% end %>
            </div>
            <img style="width: 500px; height: 300px;" src="<%=@posts.all[-2].image%>"">
          </div>  

          <div class="title">
            <h1><%=@posts.all[-2].title%></h1>
          </div>
          <p class="description"><%=@posts.all[-2].introduction%></p>
          <p class="more">
            <a href="/posts/<%=@posts.all[-2].id%>">read more</a><i class="fa fa-angle-right" aria-hidden="true"></i>
          </p>
          <br>
      </div>
      </div>

        <div class="col-sm-4">
        <div class="news">
          <div class="img-figure">
            <div class="cat">
              <% if @posts.all[-3].created_at > Time.now.beginning_of_day %>
                 <%="#{time_ago_in_words(@posts.all[-3].created_at)} ago"%>  
              <% else %>
                <%= @posts.all[-3].created_at.strftime("%b %d, %Y") %>
              <% end %>
            </div>
            <img style="width: 500px; height: 300px;" src="<%=@posts.all[-3].image%>"">
          </div>  

          <div class="title">
            <h1><%=@posts.all[-3].title%></h1>
          </div>
          <p class="description"><%=@posts.all[-3].introduction%></p>
          <p class="more">
            <a href="/posts/<%=@posts.all[-3].id%>">read more</a><i class="fa fa-angle-right" aria-hidden="true"></i>
          </p>
          <br>
      </div>
      </div>

  </div>

      <h1 style="text-align: center; color: white; background-color: purple;">Find a Troop Near You using this map!!!</h1>
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Places Searchbox</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
    </style>
  </head>
  <body>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -1.9719729, lng: 30.106111800000008},
          zoom: 9,
          mapTypeId: 'roadmap'
        });

        <% @troops.each do |troop|%>;
          var troop = {lat: <%=troop.latitude.to_f%>, lng: <%=troop.longitude.to_f%>};
          var marker = new google.maps.Marker({
            position: troop,
            map: map,
            title: '<%= troop.name %>'
          });
        <% end %>;

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDROHNydUIXyhXQW-6XoAFrZlOK8Re-_SE&libraries=places&callback=initAutocomplete"
         async defer></script>
  </body>
</html>

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Information Enqiry</option>
                                <option value="suggestions">Suggestions on Scouting</option>
                                <option value="product">Question about Scouting in</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong>Rwanda Scout Association</strong><br>
                Kigali Nyamirambo<br>
                Office<br>
                <abbr title="Phone">
                    Phone Number:</abbr>
                (250) 782501588
            </address>
            <address>
                <strong>Mpuhwezimana Arsene</strong><br>
                <a href="mailto:mpuhwearsene@gmail.com">mpuhwearsene@gmail.com</a>
            </address>
            </form>
        </div>
    </div>

    <hr>
      <h3>Our Social Sites</h3>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Add font awesome icons -->
        <a href="https://www.facebook.com/groups/rwandascouts/?ref=br_rs" target="blank" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-flickr"></a>
                
</div>