<% @contacts.each do |contact| %>
  <div class="col-lg-6 col-sm-6">
      <div class="card hovercard">
          <div class="card-background">
              <img class="card-bkimg" alt="" src="<%= contact.image %>">
              <!-- http://lorempixel.com/850/280/people/9/ -->
          </div>
          <div class="useravatar">
              <img alt="" src="<%= contact.image %>">
          </div>
          <div class="card-info"> <span class="card-title"><%= contact.name %></span>

          </div>
      </div>
      <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
          <div class="btn-group" role="group">
              <button type="button" id="stars" class="btn btn-primary" href="#tab1_<%= contact.id %>" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <div class="hidden-xs">Position</div>
              </button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" id="favorites" class="btn btn-default" href="#tab2_<%= contact.id %>" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  <div class="hidden-xs">Address</div>
              </button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" id="following" class="btn btn-default" href="#tab3_<%= contact.id %>" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <div class="hidden-xs">Contacts</div>
              </button>
          </div>
      </div>

          <div class="well">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1_<%= contact.id %>">
            <h3><%= contact.position %></h3>
          </div>
          <div class="tab-pane fade in" id="tab2_<%= contact.id %>">
            <h3><%= contact.address %></h3>
          </div>
          <div class="tab-pane fade in" id="tab3_<%= contact.id %>">
            <h5>Phone Number: <%= contact.phone %></h3>
            <h5>Email: <%= contact.facebook %></h3>
            <h5>Facebook Name: <%= contact.email %></h3>
          </div>
        </div>
      </div>
      
      </div>
<% end %>

<%= link_to 'New Contact', new_contact_path %>