<% if current_user%> 
  <a class="primary" href="/posts/new">New Post</a>
<% end %>

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
    
      <div class="item active">
        <img style="width: 760px; height: 400px;" src="<%= @posts.last.image%>">
         <div class="carousel-caption">
          <h4><%= @posts.last.introduction%></p>
        </div>
      </div>

       <div class="item">
        <img style="width: 760px; height: 400px;" src="<%= @posts.all[-2].image%>">
         <div class="carousel-caption">
          <h4><%= @posts.all[-2].introduction%></h4>
        </div>
      </div>
      <div class="item">
        <img style="width: 760px; height: 400px;" src="<%= @posts.all[-3].image%>">
         <div class="carousel-caption">
          <h4><%= @posts.all[-3].introduction%></p>
        </div>
      </div>
      
      <div class="item">
        <img style="width: 760px; height: 400px;" src="<%= @posts.all[-4].image%>">
         <div class="carousel-caption">
          <h4><%= @posts.all[-4].introduction%></p>
        </div>
      </div>

      <div class="item">
        <img style="width: 760px; height: 400px;" src="<%= @posts.all[-5].image%>">
         <div class="carousel-caption">
          <h4><%= @posts.all[-5].introduction%></p>
        </div>
      </div>
    </div>


  <ul class="list-group col-sm-4">
    <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4><%= @posts.last.title%></h4></li>
    <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4><%= @posts.all[-2].title%></h4></li>
    <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4><%= @posts.all[-3].title%></h4></li>
    <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4><%= @posts.all[-4].title%></h4></li>
    <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4><%= @posts.all[-5].title%></h4></li>
  </ul>

    <!-- Controls -->
    <div class="carousel-controls">
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

  </div>

  <br>

  <div class="row">
    <% @posts.each do |post| %>
        <div class="col-sm-4">
        <div class="news">
          <div class="img-figure">
            <div class="cat">
              <% if post.created_at > Time.now.beginning_of_day %>
                 <%="#{time_ago_in_words(post.created_at)} ago"%>  
              <% else %>
                <%= post.created_at.strftime("%b %d, %Y") %>
              <% end %>
            </div>
            <img style="width: 500px; height: 300px;" src="<%=post.image%>"">
          </div>  

          <div class="title">
            <h1><%=post.title%></h1>
          </div>
          <p class="description"><%=post.introduction%></p>
          <p class="more">
            <a href="/posts/<%=post.id%>">read more</a><i class="fa fa-angle-right" aria-hidden="true"></i>
          </p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div>
      </div>
    <% end %>
  </div>
</div>